body {
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  padding: 3rem;
}
main {
  display: flex;
}

.input_text {
  background-color: #e5e5e5;
  border: none;
  color: #0a3871;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  height: 944px;
  margin-bottom: 3rem;
  padding: 3rem;
  resize: none;
}

.output_text {
  background-image: url('./img/Muñeco.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 32px;
  border: none;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  color: #0a3871;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  height: 944px;
  left: 1000px;
  margin-bottom: 3rem;
  padding: 3rem;
  resize: none;
  top: 40px;
  width: 400px;
}

.section_encrypt {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  margin: 0 auto;
  width: 100%;
}

.section_decrypt {
  display: flex;
  flex-direction: column;
}

.encrypt_button {
  background-color: #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  width: 13rem;
}

.decrypt_button {
  background-color: #e5e5e5;
  border-color: #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  width: 13rem;
}

.copy_button {
  position: sticky;
  background-color: #e5e5e5;
  border-color: #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  width: 13rem;
}
